
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to bottom, #060628, #1f525b, #15c3c8);
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.container{
	text-align: center;
    max-width: 1200px;
    margin: auto;
	margin-bottom: 30px;
	overflow: hidden;
}

h1{
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 20px;
	font-size: 30px;
	margin-bottom: 0;
}

h3{
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	color: white;
	padding-top: 20px;
	font-size: 20px;
}

heading {
    width: 100%;
    margin: 0 0 15px;
    display: block;
}

h2 {
    text-align: center;
    line-height: 28px;
}

h2.light-color {
	color: white;
	margin-bottom: 40px;
	font-weight: 300;
	font-size: 16px;
}

.row{
	display: block;
	float: left;
	width: 100%;
	text-align: left;
	border-radius: 3px;
	overflow: hidden;
	line-height: 22px;
}

.row img,
.row2 img {
	width: 100%;
	height: auto;
}



.row .bottom-section,
.row2 .bottom-section {
	padding: 15px;
}



.inner {
	background-color: white;
	border: solid 1px 067264;
	border-bottom: solid 1px #005234;
	margin: 15px;
	padding-bottom: 25px;
}

.row2{
	display: block;
	float: left;
	width: 100%;
	vertical-align: top;
	text-align: left;
	overflow: hidden;
	line-height: 22px;
}


@media only screen and (min-width: 600px) {
	.row {
		width: 50%;
	}
	.row2 {
		width: 50%;
	}
}

@media only screen and (min-width: 1000px) {
	.row {
		width: 33.3%;
	}
	.row2 {
		width: 25%;
	}
}
